<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 定义受环境影响易变的变量 -->
    <bean  class="com.hsq.component.spring.extend.PropertyPlaceholderConfigurerExtend">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="false" />
        <property name="locations">
            <list>
                <!--模版文件夹-->
                <value>file:/data/mondao/asset/${rootName}/$moduleName/app.properties</value>
                <value>file:/data/mondao/asset/${rootName}/$moduleName/db.properties</value>
            </list>
        </property>
    </bean>
    <!-- 包扫描 -->
    <context:component-scan base-package="$mainPackage"/>

#if($hasMybatis)
    <!-- 数据库配置 -->
    <import resource="spring-db.xml"/>
#end

#if($hasDubbo)
    <!--dubbo配置-->
    <import resource="dubbo.xml"/>
#end

</beans>