mysql.driver=com.mysql.jdbc.Driver
mysql.url=jdbc:mysql://10.0.20.108:3306/HSQ_ASSURANCE
mysql.username=baofoo
mysql.password=mandao@64//

generator.package=$mainPackage
# schemaName.tableName   生成多个表以";"隔开
generator.table=HSQ_QYLC_REGULAR.REGULAR_ASSET